services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: api_cade_a_luz
    container_name: api
    ports:
      - "8080:8080"

    environment:
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/api"
      
    depends_on:
       - postgres
      
  postgres:
    image: "postgres"
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: api
    volumes:
      - database:/var/lib/postgresql/data
volumes:
  database: